In [ ]:
%env OPENAI_API_KEY=

In [ ]:
!pip install pandasql

Requirement already satisfied: pandasql in /usr/local/lib/python3.10/dist-packages (0.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.25.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.5.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.4.46)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2023.4)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (3.0.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)

In [ ]:
!pip install openai

Collecting openai
  Downloading openai-1.14.1-py3-none-any.whl (257 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 257.5/257.5 kB 6.8 MB/s eta 0:00:00
Requirement already satisfied: anyio<5,>=3.5.0 in /usr/local/lib/python3.10/dist-packages (from openai) (3.7.1)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/lib/python3/dist-packages (from openai) (1.7.0)
Collecting httpx<1,>=0.23.0 (from openai)
  Downloading httpx-0.27.0-py3-none-any.whl (75 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.6/75.6 kB 8.0 MB/s eta 0:00:00
Requirement already satisfied: pydantic<3,>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from openai) (2.6.4)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from openai) (1.3.1)
Requirement already satisfied: tqdm>4 in /usr/local/lib/python3.10/dist-packages (from openai) (4.66.2)
Requirement already satisfied: typing-extensions<5,>=4.7 in /usr/local/lib/python3.10/dist-packages (from openai) (4.10.0)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.5.0->openai) (3.6)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.5.0->openai) (1.2.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx<1,>=0.23.0->openai) (2024.2.2)
Collecting httpcore==1.* (from httpx<1,>=0.23.0->openai)
  Downloading httpcore-1.0.4-py3-none-any.whl (77 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.8/77.8 kB 9.2 MB/s eta 0:00:00
Collecting h11<0.15,>=0.13 (from httpcore==1.*->httpx<1,>=0.23.0->openai)
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 6.7 MB/s eta 0:00:00
Requirement already satisfied: annotated-types>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.9.0->openai) (0.6.0)
Requirement already satisfied: pydantic-core==2.16.3 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.9.0->openai) (2.16.3)
Installing collected packages: h11, httpcore, httpx, openai
Successfully installed h11-0.14.0 httpcore-1.0.4 httpx-0.27.0 openai-1.14.1

In [ ]:
!pip install sqlalchemy==1.4.46

Requirement already satisfied: sqlalchemy==1.4.46 in /usr/local/lib/python3.10/dist-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy==1.4.46) (3.0.3)

In [ ]:
from openai import OpenAI
client = OpenAI()

response = client.chat.completions.create(
  model="gpt-3.5-turbo",
  messages=[
    {"role": "user", "content": "I have a csv file with columns:\nstudent_id     int64\nname          object\nsubject       object\nscore          int64\ndtype: object\nMy table name is df\nWrite an SQL query:\nGroup students by subject"}
  ]
)

In [ ]:
response.choices[0].message.content

'SELECT subject, COUNT(student_id) as num_students \nFROM df\nGROUP BY subject;'

In [ ]:
# Create dictionary with data
data = {
    'student_id': [1, 2, 3, 4, 5,1, 2, 3, 4, 5,1, 2, 3, 4, 5],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma','Alice', 'Bob', 'Charlie', 'David', 'Emma','Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'subject': ['Math', 'Science', 'History', 'English', 'Geography','Math', 'Science', 'History', 'English', 'Geography','Math', 'Science', 'History', 'English', 'Geography'],
    'score': [85, 90, 78, 88, 95,85, 90, 78, 88, 95,85, 90, 78, 88, 95]
}

# Create DataFrame
df = pd.DataFrame(data)

# Display DataFrame
print(df)

    student_id     name    subject  score
0            1    Alice       Math     85
1            2      Bob    Science     90
2            3  Charlie    History     78
3            4    David    English     88
4            5     Emma  Geography     95
5            1    Alice       Math     85
6            2      Bob    Science     90
7            3  Charlie    History     78
8            4    David    English     88
9            5     Emma  Geography     95
10           1    Alice       Math     85
11           2      Bob    Science     90
12           3  Charlie    History     78
13           4    David    English     88
14           5     Emma  Geography     95

In [ ]:
# Get columns and their datatypes
column_info = df.dtypes
print("Columns and their datatypes:")
print(column_info)

Columns and their datatypes:
student_id     int64
name          object
subject       object
score          int64
dtype: object

In [ ]:
str(column_info)

'student_id     int64\nname          object\nsubject       object\nscore          int64\ndtype: object'

In [ ]:
import pandas as pd
import pandasql as ps

query = """
SELECT * from df where score=90
        """

print(ps.sqldf(query, locals()))

   student_id name  subject  score
0           2  Bob  Science     90
1           2  Bob  Science     90
2           2  Bob  Science     90

In [ ]:
import re

def has_group_by(query):
    # Define the regular expression pattern to search for "GROUP BY"
    pattern = r'\bGROUP\s+BY\b'

    # Search for the pattern in the query string
    match = re.search(pattern, query, re.IGNORECASE)

    # Return True if the pattern is found, False otherwise
    return match is not None

# Example SQL query
sql_query = "SELECT column1, column2 FROM table1 "

# Check if the query has a GROUP BY clause
if has_group_by(sql_query):
    print("The query has a GROUP BY clause.")
else:
    print("The query does not have a GROUP BY clause.")

The query does not have a GROUP BY clause.

In [ ]:
"I have a csv file with columns:\nstudent_id     int64\nname          object\nsubject       object\nscore          int64\ndtype: object\nMy table name is df\nWrite an SQL query:\nGroup students by subject"

'I have a csv file with columns:\nstudent_id     int64\nname          object\nsubject       object\nscore          int64\ndtype: object\nMy table name is df\nWrite an SQL query:\nGroup students by subject'